<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
<div class="input-gropu">
  <label for="">Nombre</label>
  <input type="text" name="name" required id="name" [(ngModel)]="register.name">
  <p>Mensaje de error</p>
</div>
<div class="input-gropu">
  <label for="">Email</label>
  <input type="text" name="email" required id="email" [(ngModel)]="register.email">
  <p>Mensaje de error</p>
</div>
<div class="input-gropu">
  <label for="">Password</label>
  <input type="text" name="password" required id="password" [(ngModel)]="register.password">
  <p>Mensaje de error</p>
</div>
<button [disabled]="myForm.invalid" type="submit">Registrar</button>
<button type="button">Accion</button>
</form>
<hr/>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
  />
  <p class="message-error" [class.invalid]="nameInput4.invalid">
    El campo es requerido
  </p>
  <div class="styles">
    <div>
      <input type="number" [(ngModel)]="box.width"/>
      <input type="number" [(ngModel)]="box.height"/>
      <input type="color" [(ngModel)]="box.background"/>
    </div>
    <div>
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        'display': 'block'
      }"></div>
    </div>
  </div>
<hr/>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'"> Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar"/>
  </div>
</div>
<hr/>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Sinai'">
    La persona es Sinai
  </p>
  <p *ngSwitchCase="'Ramirez'">
    La persona es Ramirez
  </p>
  <p *ngSwitchCase="'Calderon'">
    La persona es Calderon
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<hr/>
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr/>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0"> No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'nicolas'">Soy Nicolas</p>
<p *ngIf="person.name === 'sinai' && person.age === 18; else myBlock">Soy Sinai</p>
<ng-template #myBlock>
  <p>Bloque de ejemplo else</p>
</ng-template>
<hr/>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" [(ngModel)] = "person.name" />
<hr/>
<h1>Eventos</h1>
<button [disabled] = "btnDIsabled">Enviar</button>
<button (click)="toggerButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque expedita, a asperiores laudantium vero saepe eligendi ullam odit eaque dicta pariatur veniam commodi unde dolore dignissimos quod quo odio architecto.</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>
<h1>Propiedades</h1>
<button [disabled]= "btnDIsabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" />
<hr/>
<h1>Hola mundo</h1>
<h2>{{' Hola Mundo '. repeat(5)}}</h2>
<p>3+3 = {{3+3}}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="200" src={{img}} alt="image">
